@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility: hide horizontal scrollbar on mobile tab bars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
